[Unit]
Description=NCache Daemon
DefaultDependencies=no

[Service]
User=ncache
Group=ncache
Type=forking
ExecStart=<DOTNETHOME> <INSTALLDIR>/bin/service/Alachisoft.NCache.Daemon.dll <INSTALLDIR>
ExecStop=<DOTNETHOME> <INSTALLDIR>/bin/service/Alachisoft.NCache.Daemon.dll stop
Restart=always

[Install]
WantedBy=default.target
